In [1]:
import numpy as np 
import pandas as pd

from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from string import punctuation
from contractions import fix

from nltk.stem import WordNetLemmatizer, LancasterStemmer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from nltk.util import ngrams

In [13]:
df = pd.read_csv("DataNeuron_Text_Similarity.csv")
df1 = df.copy()

In [14]:
df1

,text1,text2
0,broadband challenges tv viewing the number of ...,gardener wins double in glasgow britain s jaso...
1,rap boss arrested over drug find rap mogul mar...,amnesty chief laments war failure the lack of ...
2,player burn-out worries robinson england coach...,hanks greeted at wintry premiere hollywood sta...
3,hearts of oak 3-2 cotonsport hearts of oak set...,redford s vision of sundance despite sporting ...
4,sir paul rocks super bowl crowds sir paul mcca...,mauresmo opens with victory in la amelie maure...
...,...,...
2995,uk directors guild nominees named martin scors...,steel firm to cut 45 000 jobs mittal steel ...
2996,u2 to play at grammy awards show irish rock ba...,israel looks to us for bank chief israel has a...
2997,pountney handed ban and fine northampton coach...,india and iran in gas export deal india has si...
2998,belle named best scottish band belle & sebas...,mido makes third apology ahmed mido hossam h...
2999,criminal probe on citigroup deals traders at u...,former ni minister scott dies former northern ...

In [15]:
df['text1'][0]

'broadband challenges tv viewing the number of europeans with broadband has exploded over the past 12 months  with the web eating into tv viewing habits  research suggests.  just over 54 million people are hooked up to the net via broadband  up from 34 million a year ago  according to market analysts nielsen/netratings. the total number of people online in europe has broken the 100 million mark. the popularity of the net has meant that many are turning away from tv  say analysts jupiter research. it found that a quarter of web users said they spent less time watching tv in favour of the net  the report by nielsen/netratings found that the number of people with fast internet access had risen by 60% over the past year.  the biggest jump was in italy  where it rose by 120%. britain was close behind  with broadband users almost doubling in a year. the growth has been fuelled by lower prices and a wider choice of always-on  fast-net subscription plans.  twelve months ago high speed internet users made up just over one third of the audience in europe; now they are more than 50% and we expect this number to keep growing   said gabrielle prior  nielsen/netratings analyst.  as the number of high-speed surfers grows  websites will need to adapt  update and enhance their content to retain their visitors and encourage new ones.  the total number of europeans online rose by 12% to 100 million over the past year  the report showed  with the biggest rise in france  italy  britain and germany.  the ability to browse web pages at high speed  download files such as music or films and play online games is changing what people do in their spare time.  a study by analysts jupiter research suggested that broadband was challenging television viewing habits. in homes with broadband  40% said they were spending less time watching tv. the threat to tv was greatest in countries where broadband was on the up  in particular the uk  france and spain  said the report. it said tv companies faced a major long-term threat over the next five years  with broadband predicted to grow from 19% to 37% of households by 2009.  year-on-year we are continuing to see a seismic shift in where  when and how europe s population consume media for information and entertainment and this has big implications for tv  newspaper and radio   said jupiter research analyst olivier beauvillian.'

In [16]:
def remove_blank(data):
    clean_text = data.replace("\\n"," ").replace("\t"," ")
    return clean_text

def expand_text(data):
    clean_text = fix(data)
    return clean_text

stopword_list = stopwords.words("english")
stopword_list.remove("no")
stopword_list.remove("nor")
stopword_list.remove("not")

def clean_text(data):
    tokens = word_tokenize(data)
    clean_data = [word.lower() for word in tokens if (word.lower() not in punctuation) and (word.lower() not in stopword_list) and ( len(word)>2) and (word.isalpha()) ]
    return clean_data

def lemmatization(data):
    lemmatizer = WordNetLemmatizer()
    final_text = []
    for word in data:
        lemmatized_word = lemmatizer.lemmatize(word)
        final_text.append(lemmatized_word)
    return final_text#" ".join(final_text)

In [17]:
df['New_text1'] = df['text1'].apply(remove_blank)
df['New_text1'] = df['New_text1'].apply(expand_text)
df['New_text1'] = df['New_text1'].apply(clean_text)
df['New_text1'] = df['New_text1'].apply(lemmatization)


df['New_text2'] = df['text2'].apply(remove_blank)
df['New_text2'] = df['New_text2'].apply(expand_text)
df['New_text2'] = df['New_text2'].apply(clean_text)
df['New_text2'] = df['New_text2'].apply(lemmatization)


df

,text1,text2,New_text1,New_text2
0,broadband challenges tv viewing the number of ...,gardener wins double in glasgow britain s jaso...,"[broadband, challenge, viewing, number, europe...","[gardener, win, double, glasgow, britain, jaso..."
1,rap boss arrested over drug find rap mogul mar...,amnesty chief laments war failure the lack of ...,"[rap, bos, arrested, drug, find, rap, mogul, m...","[amnesty, chief, lament, war, failure, lack, p..."
2,player burn-out worries robinson england coach...,hanks greeted at wintry premiere hollywood sta...,"[player, worry, robinson, england, coach, andy...","[hank, greeted, wintry, premiere, hollywood, s..."
3,hearts of oak 3-2 cotonsport hearts of oak set...,redford s vision of sundance despite sporting ...,"[heart, oak, cotonsport, heart, oak, set, ghan...","[redford, vision, sundance, despite, sporting,..."
4,sir paul rocks super bowl crowds sir paul mcca...,mauresmo opens with victory in la amelie maure...,"[sir, paul, rock, super, bowl, crowd, sir, pau...","[mauresmo, open, victory, amelie, mauresmo, ma..."
...,...,...,...,...
2995,uk directors guild nominees named martin scors...,steel firm to cut 45 000 jobs mittal steel ...,"[director, guild, nominee, named, martin, scor...","[steel, firm, cut, job, mittal, steel, one, wo..."
2996,u2 to play at grammy awards show irish rock ba...,israel looks to us for bank chief israel has a...,"[play, grammy, award, show, irish, rock, band,...","[israel, look, bank, chief, israel, asked, ban..."
2997,pountney handed ban and fine northampton coach...,india and iran in gas export deal india has si...,"[pountney, handed, ban, fine, northampton, coa...","[india, iran, gas, export, deal, india, signed..."
2998,belle named best scottish band belle & sebas...,mido makes third apology ahmed mido hossam h...,"[belle, named, best, scottish, band, belle, se...","[mido, make, third, apology, ahmed, mido, hoss..."
2999,criminal probe on citigroup deals traders at u...,former ni minister scott dies former northern ...,"[criminal, probe, citigroup, deal, trader, ban...","[former, minister, scott, dy, former, northern..."

In [18]:
df['Token_len_Text1'] = df.New_text1.apply(lambda x: len(x))
df['Token_len_Text2'] = df.New_text2.apply(lambda x: len(x))
df

,text1,text2,New_text1,New_text2,Token_len_Text1,Token_len_Text2
0,broadband challenges tv viewing the number of ...,gardener wins double in glasgow britain s jaso...,"[broadband, challenge, viewing, number, europe...","[gardener, win, double, glasgow, britain, jaso...",211,278
1,rap boss arrested over drug find rap mogul mar...,amnesty chief laments war failure the lack of ...,"[rap, bos, arrested, drug, find, rap, mogul, m...","[amnesty, chief, lament, war, failure, lack, p...",133,273
2,player burn-out worries robinson england coach...,hanks greeted at wintry premiere hollywood sta...,"[player, worry, robinson, england, coach, andy...","[hank, greeted, wintry, premiere, hollywood, s...",133,131
3,hearts of oak 3-2 cotonsport hearts of oak set...,redford s vision of sundance despite sporting ...,"[heart, oak, cotonsport, heart, oak, set, ghan...","[redford, vision, sundance, despite, sporting,...",157,257
4,sir paul rocks super bowl crowds sir paul mcca...,mauresmo opens with victory in la amelie maure...,"[sir, paul, rock, super, bowl, crowd, sir, pau...","[mauresmo, open, victory, amelie, mauresmo, ma...",229,194
...,...,...,...,...,...,...
2995,uk directors guild nominees named martin scors...,steel firm to cut 45 000 jobs mittal steel ...,"[director, guild, nominee, named, martin, scor...","[steel, firm, cut, job, mittal, steel, one, wo...",162,148
2996,u2 to play at grammy awards show irish rock ba...,israel looks to us for bank chief israel has a...,"[play, grammy, award, show, irish, rock, band,...","[israel, look, bank, chief, israel, asked, ban...",112,139
2997,pountney handed ban and fine northampton coach...,india and iran in gas export deal india has si...,"[pountney, handed, ban, fine, northampton, coa...","[india, iran, gas, export, deal, india, signed...",78,147
2998,belle named best scottish band belle & sebas...,mido makes third apology ahmed mido hossam h...,"[belle, named, best, scottish, band, belle, se...","[mido, make, third, apology, ahmed, mido, hoss...",174,192
2999,criminal probe on citigroup deals traders at u...,former ni minister scott dies former northern ...,"[criminal, probe, citigroup, deal, trader, ban...","[former, minister, scott, dy, former, northern...",154,185

In [19]:
print(df['Token_len_Text1'].max())
print(df['Token_len_Text1'].min())
print("--------------------------")
print(df['Token_len_Text2'].max())
print(df['Token_len_Text2'].min())

1610
62
--------------------------
2160
47

In [ ]:
df['New_text1'] = df['text1'].apply(remove_blank)
df['New_text1'] = df['New_text1'].apply(expand_text)
df['New_text1'] = df['New_text1'].apply(clean_text)
df['New_text1'] = df['New_text1'].apply(lemmatization)


df['New_text2'] = df['text2'].apply(remove_blank)
df['New_text2'] = df['New_text2'].apply(expand_text)
df['New_text2'] = df['New_text2'].apply(clean_text)
df['New_text2'] = df['New_text2'].apply(lemmatization)


df

In [20]:
#len(df['text1'][0].split())  = 403
#df['text1'][0]

In [25]:
#a[0]
d = ['I love programming language',
    'i like data science',
    'we are reading text from board']

doc1 = df1['text1'][0]    # doc1 type is >> str
doc2 = df1['text2'][0]
doc = (doc1,doc2)

In [29]:
len(doc)

2

In [30]:
count = CountVectorizer()
c = count.fit_transform(doc)
c

<2x414 sparse matrix of type '<class 'numpy.int64'>'
	with 455 stored elements in Compressed Sparse Row format>

In [32]:
#count.get_feature_names_out()

In [33]:
c.A

array([[ 2,  0,  2,  1,  0,  0,  0,  1,  0,  0,  1,  0,  0,  0,  0,  1,
         1,  0,  1,  0,  0,  0,  1,  0,  1,  1,  0,  0,  0,  0,  0,  0,
         0,  0,  1,  0,  0,  1,  1,  1,  0,  0,  0,  2,  0,  0,  1,  0,
         1,  0,  2,  3, 11,  0,  0,  4,  2,  1,  0,  1,  1,  0,  0,  1,
         1,  1,  0,  0,  1,  2,  0,  0,  0,  2,  0,  8,  1,  1,  0,  0,
         7,  0,  0,  1,  1,  0,  0,  0,  1,  1,  0,  0,  0,  0,  0,  1,
         0,  0,  0,  1,  0,  0,  1,  1,  1,  0,  1,  0,  0,  0,  0,  1,
         0,  1,  0,  1,  1,  0,  1,  0,  1,  0,  1,  3,  2,  0,  0,  1,
         0,  1,  1,  0,  2,  1,  0,  0,  1,  1,  0,  0,  0,  0,  0,  1,
         2,  2,  0,  2,  3,  1,  0,  1,  1,  0,  1,  0,  0,  0,  0,  0,
         1,  0,  1,  1,  1,  1,  2,  1,  0,  5,  0,  0,  0,  3,  0,  0,
         0,  0,  1,  1,  0,  1,  1,  0,  1,  0, 11,  0,  1,  0,  0,  2,
         1,  0,  0,  1,  3,  2,  0,  0,  0,  0,  0,  1,  3,  2,  0,  1,
         0,  0,  0,  0,  0,  0,  2,  1,  0,  1,  0,  1,  0,  1,  0,  1,
         1,  0,  1,  0,  0,  0,  1,  1,  0,  0,  0,  4,  0,  2,  1,  0,
         1,  0,  1,  0,  4,  3,  1,  1,  1,  0,  3,  0,  1,  6, 11,  0,
         0,  0,  0,  1,  0,  0,  3,  1,  1,  3,  1,  0,  0,  6,  1,  1,
         3,  4,  0,  0,  0,  1,  1,  0,  0,  0,  0,  0,  1,  1,  1,  1,
         1,  0,  1,  0,  0,  1,  0,  0,  0,  0,  0,  3,  4,  1,  1,  1,
         2,  0,  0,  0,  6,  0,  1,  0,  0,  0,  0,  1,  1,  0,  0,  0,
         0,  0,  0,  0,  1,  0,  0,  1,  0,  0,  0,  0,  1,  1,  3,  1,
         1,  0,  0,  0,  1,  1,  0,  1,  0,  1,  1,  0,  1,  0,  0,  1,
         1,  1,  4, 26,  3,  0,  0,  3,  0,  1,  2,  2,  3,  0, 11,  0,
         0,  2,  0,  0,  1,  8,  1,  1,  0,  0,  0,  4,  1,  3,  0,  0,
         0,  0,  1,  0,  3,  1,  5,  2,  0,  2,  3,  1,  0,  1,  1,  1,
         3,  0,  1,  1,  0,  0,  0,  7,  0,  0,  0,  6,  1,  0],
       [ 0,  1,  0,  0,  1,  2,  1,  0,  1,  1,  0,  2,  1,  1,  1,  0,
         0,  1,  0,  2,  1,  2,  0,  1,  0,  0,  4,  1,  1,  1,  1,  2,
         1,  1,  0,  1,  1,  0,  0,  0,  1,  1,  1,  0,  2,  1,  0,  1,
         0,  1,  0,  0, 12,  1,  1,  0,  8,  2,  2,  0,  0,  1,  2,  0,
         0,  1,  1,  2,  0,  0,  1,  1,  1, 11,  1,  0,  0,  0,  1,  1,
         1,  1,  1,  0,  0,  3,  1,  1,  0,  0,  1,  1,  1,  1,  1,  0,
         1,  1,  1,  0,  1,  1,  0,  0,  0,  1,  0,  1,  1,  1,  1,  0,
         3,  0,  1,  0,  0,  1,  0,  1,  0,  1,  0,  0,  0,  1,  1,  0,
         1,  0,  0,  1,  0,  0,  1,  1,  0,  0,  2,  1,  1,  3,  1,  0,
         7,  0,  5,  5,  2,  0,  1,  0,  0,  3,  0,  2,  2,  2,  1,  1,
         0,  1,  0,  0,  0,  0,  0,  1,  1,  0,  3,  1,  2,  1,  3,  1,
         1,  2,  0,  0,  1,  0,  0,  1,  0,  1, 20,  2,  0,  1,  1,  0,
         1,  1,  1,  0,  2,  2,  1,  1,  1,  2,  1,  3,  0,  1,  1,  0,
         1,  1,  2,  1,  1,  1,  0,  1,  1,  0,  1,  0,  1,  1,  1,  0,
         1,  1,  0,  1,  1,  1,  0,  0,  1,  5,  1,  0,  1,  1,  0,  1,
         0,  1,  0,  1,  0,  0,  2,  0,  1,  2,  0,  1,  0,  0, 15,  2,
         1,  1,  1,  0,  3,  1,  3,  1,  0,  0,  0,  3,  1,  1,  0,  0,
         0,  0,  2,  1,  2,  0,  0,  1,  1,  3,  1,  1,  0,  0,  0,  0,
         0,  1,  0,  1,  6,  0,  4,  1,  1,  3,  1,  0,  0,  0,  0,  0,
         0,  1,  6,  1,  1,  1,  0,  1,  1,  3,  1,  0,  0,  1,  1,  1,
         1,  1,  1,  1,  0,  1,  1,  0,  2,  1,  1,  1,  0,  0,  0,  0,
         0,  1,  1,  1,  0,  0,  2,  0,  1,  0,  0,  1,  0,  2,  3,  0,
         0,  0,  0, 32,  1,  1,  4,  0,  1,  4,  2,  0,  0,  1, 13,  2,
         1,  1,  1,  1,  0,  0,  0,  0,  1,  1,  1,  1,  0,  0,  1,  1,
         1,  3,  0,  5,  0,  0,  8,  0,  1,  0,  0,  0,  3,  1,  1,  1,
         0,  2,  0,  0,  3,  1,  1, 10,  4,  6,  3,  1,  0,  1]],
      dtype=int64)

In [34]:
len(c.A)

2

In [36]:
cosine_similarity(c[0],c[1])

array([[0.68525568]])

In [35]:
c[0]

<1x414 sparse matrix of type '<class 'numpy.int64'>'
	with 200 stored elements in Compressed Sparse Row format>

In [ ]:
def remove_blank(data):
    clean_text = data.replace("\\n"," ").replace("\t"," ")
    return clean_text

def expand_text(data):
    clean_text = fix(data)
    return clean_text

stopword_list = stopwords.words("english")
stopword_list.remove("no")
stopword_list.remove("nor")
stopword_list.remove("not")

def clean_text(data):
    tokens = word_tokenize(data)
    clean_data = [word.lower() for word in tokens if (word.lower() not in punctuation) and (word.lower() not in stopword_list) and ( len(word)>2) and (word.isalpha()) ]
    return clean_data

def lemmatization(data):
    lemmatizer = WordNetLemmatizer()
    final_text = []
    for word in data:
        lemmatized_word = lemmatizer.lemmatize(word)
        final_text.append(lemmatized_word)
    return " ".join(final_text)


df = pd.read_csv("DataNeuron_Text_Similarity.csv")

df['New_text1'] = df['text1'].apply(remove_blank)
df['New_text1'] = df['New_text1'].apply(expand_text)
df['New_text1'] = df['New_text1'].apply(clean_text)
df['New_text1'] = df['New_text1'].apply(lemmatization)


df['New_text2'] = df['text2'].apply(remove_blank)
df['New_text2'] = df['New_text2'].apply(expand_text)
df['New_text2'] = df['New_text2'].apply(clean_text)
df['New_text2'] = df['New_text2'].apply(lemmatization)


df